.detail__wrap-span{
    display: flex;
    column-gap: 30px;
    align-items: center;
    width: 30%;
 }
 .output__img{
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 10px;
 }
 .detail__box{
    margin-top:20px;
    display: flex;
    align-items: center;
 }